* {
  box-sizing: border-box;
}

img {
  display: block;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #5b38da;
  box-shadow: 0px 1px 10px 0px #000000;
}

input {
  min-width: 400px;
  min-height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: none;
}

input:focus {
  outline: 2px solid rgb(54, 161, 233);
}

button[type='submit'] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  position: absolute;
  left: calc(50% + 160px);
  cursor: pointer;
  border: none;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #000000;
}

.icon {
  fill: currentColor;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  justify-content: center;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

.photo-card {
  display: grid;
  grid-template-rows: minmax(250px, auto);
}

.photo-card img {
  height: 100%;
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}

.info {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.info b {
  display: block;
}
